/* Scroll Cables - Animated cables on scroll */

.scrollCables {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
}

.cablesSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
}

.cablesSvg.rightSide {
  left: auto;
  right: 0;
}

.leftCables,
.rightCables {
  opacity: 1;
}

.crossConnections {
  opacity: 0.8;
}

.dataPackets circle {
  filter: drop-shadow(0 0 6px currentColor);
}

.serverIcons {
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 1200px) {
  .cablesSvg {
    width: 60px;
  }
}

@media (max-width: 768px) {
  .cablesSvg {
    width: 40px;
    opacity: 0.6;
  }

  .crossConnections {
    display: none;
  }
}

@media (max-width: 480px) {
  .scrollCables {
    display: none;
  }
}
